.wrapper {
  min-width: 320px;
  position: sticky;
  top: 4rem;
  padding: 1rem;
  border: 1px solid #d4d4d4;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: auto;
  height: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.textarea {
  width: 100%;
  min-height: 120px;
  padding: 1rem;
  border: 1px solid #d4d4d4;
  border-radius: 1rem;
}

.create {
  background: #007bff;
  color: white;
  cursor: pointer;
}
