.wrapper {
  min-width: 320px;
  position: sticky;
  top: 5rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  height: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  border: 1px solid #d4d4d4;
  border-radius: 2rem;
  background-color: #fafafa;
}

.textarea {
  width: 100%;
  min-height: 120px;
  padding: 1rem;
  border: 1px solid #d4d4d4;
  border-radius: 1rem;
  margin-top: 1rem;
}

.create {
  margin-top: 1rem;
}
