.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  background: #f5f5f5;
}

.header nav {
  display: flex;
  justify-content: space-between;
}

.header nav a {
  text-decoration: none;
  color: #404040;
}
