.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #ffffff80;
  /* border-bottom: 1px solid #d4d4d4; */
  z-index: 10;
  backdrop-filter: blur(64px);
  min-height: 5rem;
}

.header nav {
  display: flex;
  justify-content: space-between;
}

.header nav a {
  text-decoration: none;
  color: #404040;
}
