.listItem {
  display: flex;
  padding: 2rem;
  border: 1px solid #d4d4d4;
  margin-bottom: 1rem;
  border-radius: 2rem;
  gap: 2rem;
}

.postInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo {
  width: 4rem;
  height: 4rem;
  background: #e5e5e5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  line-height: 1;
  text-align: center;
}

.delete {
  margin-left: auto;
  background: #ff4d4d;
  border: none;
  padding: 0.5rempx 1rem;
  color: white;
  cursor: pointer;
  flex-shrink: 0;
}
